// Breakpoints
$break-sm: 480px;
$break-md: 640px;
$break-lg: 1200px;

// Colors
$primary900: #4c0039;
$primary800: #780353;
$primary700: #9d0867;
$primary600: #c10f78;
$primary500: #da1884;
$primary400: #e12388;
$primary300: #e6308b;
$primary200: #ea3d8f;
$primary100: #ec4b96;
$primary000: #ed589a;

$secondary900: #003241;
$secondary800: #004b61;
$secondary700: #00667f;
$secondary600: #008093;
$secondary500: #009ca6;
$secondary400: #11a6b3;
$secondary300: #28afbf;
$secondary200: #41b8ca;
$secondary100: #5ec3d6;
$secondary000: #81cfdf;

$grey900: #131a1f;
$grey800: #232d35;
$grey700: #333f48;
$grey600: #46535c;
$grey500: #5b6771;
$grey400: #748089;
$grey300: #929ea7;
$grey200: #b5bfc7;
$grey100: #dbe1e5;
$grey000: #f3f7fa;

// Misc
$defaultBorder: 2px solid $grey100;

// Animation/Transition
$easeOpen: transform 250ms cubic-bezier(0, 0, 0.2, 1);
$easeClose: transform 200ms cubic-bezier(0.4, 0, 1, 1);
