@import '../styles/variables.scss';

$sidebarWidth-md: 320px;
$sidebarWidth-lg: 400px;

.open-now-filter {
  text-align: center;
  button {
    margin: 8px 8px 0;
    position: relative;
    padding: 4px;
    appearance: none;
    outline: none;
    border: none;
    color: $grey100;
    background: none;
    &:hover {
      color: $grey000;
    }
    &.active {
      color: white;
      font-weight: bold;
      &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $navHighlight;
        border-radius: 2px;
      }
    }
  }
}

.LocationsPage {
  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  width: 100%;

  .list-and-map-wrapper {
    position: relative;
    flex: 1;
    display: flex;

    .locations-list {
      z-index: 1800;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;

      background-color: white;
      box-shadow: 0px -4px 20px rgba(91, 103, 112, 0.075);

      // Mobile animation
      transition: $easeClose 50ms; // Slight delay to deal with mobile jitter bugs
      &.open {
        transform: translateY(-100%);
        transition: $easeOpen 50ms; // Slight delay to deal with mobile jitter bugs
      }

      // Flex (and reset any transform/transition) on tablets/large screens
      @media screen and (min-width: $break-md) {
        &,
        &.open {
          position: relative;
          transform: translateY(0);
          transition: none;
          top: 0;
          flex-shrink: 0;
          width: $sidebarWidth-md;
        }
      }
      @media screen and (min-width: $break-lg) {
        &,
        &.open {
          width: $sidebarWidth-lg;
        }
      }

      .list-flex-wrapper {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;

        // Manage in-list search for tablets/desktops only
        .desktop-search {
          display: none;
        }
        @media screen and (min-width: $break-md) {
          .desktop-search {
            flex-shrink: 0;
            position: relative;
            display: block;
            padding: 16px 16px 10px;

            background-color: $navBG;
            box-shadow: 0px 3px 5px rgba(91, 103, 112, 0.075);
          }
        }

        // Loader
        .loader {
          margin-top: 6px;
        }

        .list-scroll {
          position: relative;
          height: 100%;
          flex: 1;
          overflow-y: auto;
          -webkit-overflow-scrolling: touch;
          padding-bottom: 48px;

          // Filter and sort locations
          .filter-sort-locations {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 8px;

            border-bottom: $defaultBorder;
            background-color: $grey000;
            color: $grey300;
            font-size: 14px;

            .filter-wrapper {
              display: flex;
              align-items: center;
              position: relative;
              flex: 1;
              padding-right: 16px;
              input {
                flex: 1;
                padding: 6px 0 6px 26px;
                appearance: none;
                background: none;
                border: 2px solid $grey000;
              }
              input:focus {
                background-color: white;
                border: 2px solid $grey200;
              }
              i.search-icon {
                position: relative;
                z-index: 100;
                pointer-events: none;
                margin-right: -24px;
                margin-left: 12px;
                font-size: 20px;
              }
              .clear-btn {
                appearance: none;
                background: none;
                border: none;
                outline: none;
              }
            }

            .sort-wrapper {
              position: relative;
              select {
                appearance: none;
                padding: 6px 26px 6px 6px;
                background: none;
                border: none;
                outline: none;
                color: $grey400;
                &:hover {
                  cursor: pointer;
                }
              }
              i.dropdown-icon {
                position: absolute;
                top: 0;
                right: 0;
                pointer-events: none;
                font-size: 28px;
                color: $grey400;
              }
            }
          }

          .list-message {
            padding: 24px 8px 32px;
            text-align: center;
            font-weight: bold;
            color: $grey200;
            letter-spacing: 0.02em;
          }
        }
      }
    } // End .locations-list

    // Embedded map
    .map-embed {
      flex: 1;
      height: 100%;
      // Tooltip on hover
      .location-tooltip {
        padding: 12px 16px;
        box-shadow: 1px 1px 8px rgba(91, 103, 112, 0.1), 1px 1px 4px rgba(91, 103, 112, 0.1);
        border: 1px solid $grey100;
        font-family: museo-sans-rounded, sans-serif;
        .name {
          margin-bottom: 4px;
          max-width: 384px;
          overflow: hidden;

          text-overflow: ellipsis;
          color: $primary500;
          font-size: 20px;
          line-height: 1.25;
          font-weight: bold;
        }
        .distance {
          font-size: 14px;
          color: $grey600;
        }
      }
      // Narrow mode on mobile when collapsed detail pane is open
      // to ensure pin is centered vertically (not hidden under pane)
      &.narrow {
        height: calc(100% - 140px);
      }
      // But always full height otherwise (and always on tablet+)
      @media screen and (min-width: $break-md) {
        &.narrow {
          height: 100%;
        }
      }
    } // End .map-embed

    // Location detail panel
    .location-detail-panel {
      z-index: 1900;
      position: absolute;
      top: calc(100%);
      left: 0;
      width: 100%;
      padding: 24px 12px 0;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;

      transition: $easeClose;
      &.open {
        transform: translateY(-100%);
        transition: $easeOpen 50ms; // Slight delay to deal with mobile jitter bugs
      }
      &.expanded {
        height: 100%;
      }

      background-color: white;
      box-shadow: 0px -4px 20px rgba(91, 103, 112, 0.075);

      .back-link {
        color: $grey600;
        font-weight: bold;
        i {
          color: $grey400;
          font-size: 22px;
        }
      }

      // Lock width (and reset any transform/transition) on tablets/large screens
      @media screen and (min-width: $break-md) {
        top: 0;
        height: 100%;
        left: -$sidebarWidth-md;
        width: $sidebarWidth-md;
        transition: $easeClose;
        &.open {
          transform: translateX($sidebarWidth-md);
          transition: $easeOpen;
        }
      }
      @media screen and (min-width: $break-lg) {
        left: -$sidebarWidth-lg;
        width: $sidebarWidth-lg;
        &.open {
          transform: translateX($sidebarWidth-lg);
        }
      }
    } // end .location-detail-panel
  }

  .mobile-toggle {
    z-index: 2000;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    appearance: none;
    outline: none;
    border: none;
    padding: 12px;

    background-color: white;
    box-shadow: 0px -4px 20px rgba(91, 103, 112, 0.09);
    border-top: 2px solid $grey000;
    text-align: left;
    font-weight: bold;
    color: $secondary600;

    i {
      margin-right: 8px;
      color: $secondary600;
    }

    &.primary {
      justify-content: center;
      padding-right: 24px;
      box-shadow: none;
      border-top: $defaultBorder;
      background-color: $secondary600;
      color: white;
      i {
        color: $secondary900;
      }
    }

    // Hide on large screens
    @media screen and (min-width: $break-md) {
      display: none;
    }
  }
}
