@import '../styles/variables.scss';

.input {
  position: relative;
  width: 100%;
  padding: 10px 0px 10px 12px;
  outline: none;
  border: 2px solid $grey200;
  border-radius: 6px;
  text-overflow: ellipsis;

  &:focus {
    border: 2px solid $secondary600;
    box-shadow: 2px 3px 5px rgba(91, 103, 112, 0.1);
  }
}
