@import '../../styles/variables.scss';

.LocationItemLink {
  position: relative;
  display: block;
  padding: 24px 24px 12px;

  border-bottom: $defaultBorder;

  &:hover,
  &:focus {
    background-color: $offWhite;
  }

  &.faded {
    opacity: 0.75;
    background-color: $grey000;
    .name {
      color: $grey600;
    }
  }

  .name {
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 20px;
    color: $primary500;
    .mobile-tag {
      display: inline-flex;
      align-items: center;
      font-size: 13px;
      padding: 2px 4px 2px 3px;
      background-color: $secondary700;
      color: white;
      border-radius: 4px;
      i {
        max-width: 16px;
        margin-right: 3px;
        font-size: 16px;
        color: $grey100;
      }
    }
  }

  .location {
    margin-bottom: 8px;
    color: $grey500;
  }

  .notes {
    color: $primary800;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .meals {
    margin-bottom: 4px;
  }
  .days {
    margin-bottom: 12px;
  }

  .meals,
  .days {
    color: $grey100;
    i {
      max-width: 16px;
      margin-right: 4px;
      font-size: 16px;
      color: $secondary600;
    }
    span {
      margin-right: 6px;
      &.active {
        font-weight: bold;
        color: $secondary600;
      }
    }
  }
}
