@import '../styles/variables.scss';

.PrimaryNav {
  position: relative;
  z-index: 3000;
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 4px 24px;
  flex-shrink: 0;

  background-color: white;
  box-shadow: 0px 4px 20px rgba(91, 103, 112, 0.075);

  .logo-link {
    flex-shrink: 0;
    position: relative;
    padding: 16px 0;
    height: 100%;
    margin-top: -2px;
    img {
      height: 100%;
    }
  }

  .nav-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    .nav-link {
      position: relative;
      margin: 0 4px;
      padding: 8px;

      color: $grey400;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      @media screen and (min-width: $break-lg) {
        margin: 0 12px;
        font-size: 20px;
      }

      &:hover {
        color: $grey600;
      }

      &.active {
        color: $grey800;
        &:after {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 6px;
          background-color: $secondary600;
          border-radius: 3px;
        }
      }
    }
  }

  // Show on larger screens
  @media screen and (min-width: $break-md) {
    display: flex;
  }
}
// Misc notice
.draft-notice {
  padding: 6px 8px;
  font-size: 13px;
  line-height: 16px;

  text-align: center;
  background-color: $secondary600;
  color: white;
  font-weight: bold;

  a {
    color: $navHighlight;
  }
}
